{% extends 'template.html' %}
{% load static %}
{% block title %}
    Tableau de Bord
{% endblock title %}
{% block content %}
    
<!-- Overlay effect when opening sidebar on small screens -->
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-dashboard"></i> Tableau de Bord </b></h3>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Enseignants Chercheurs</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Enseignants Vacataires</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Agents Contractuels</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Malades</h4>
      </div>
    </div>

    <div class="w3-quarter w3-margin-top">
      <div class="w3-container w3-blue-gray w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>34</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Fonctionnaires Administratifs</h4>
      </div>
    </div>

    <div class="w3-quarter w3-margin-top">
      <div class="w3-container w3-gray w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1200</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Personnel</h4>
      </div>
    </div>
  </div>
  <hr>

  <div>
    <h2>Graphique Circulaire</h2>
    <img src="data:image/png;base64,{{ image }}" alt="My Pie Chart">
</div>

{% endblock content %}
    