{% extends 'template.html' %}
{% load static %}

{% block title %}
    Historique de Formation  
{% endblock title %}


{% block content %}
<div class="w3-container">
    <h2 style="font-weight: bold; text-align:center; margin-top:20px">Historique des Formations du Personnel </h2>
    <div class="w3-third w3-right">  
       <div> 
        {% csrf_token %}
       </div>
        <div style="display: flex;"> 
          <input class="inputPersonne" type="text" id="searchInput" placeholder="Rechercher...">
          <select style="margin-left: 5px;" class="selectFilter" id="filterMatriculeSexe">
              <option value="all">Tous</option>
              <option value="formation">Programme de Formation</option>
              <option value="matricule">Matricule</option>
              <option value="date">date</option>
          </select>
          <button style="margin-left: 5px;" class="buttonSearchPersonnel" onclick="filterTable()">Rechercher</button>
      
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <table class="tablePersonnel" id="myTable" style="margin: auto;">
            <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nom et Prénom</th>
                    <th>Programme de la foramtion</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for Hformation in Hformations %}
                    <tr>
                        <td> {{Hformation.Formation.Personnel.matricule}} </td>
                        <td> {{Hformation.Formation.Personnel.nom}} {{Hformation.Formation.Personnel.prenom}} </td>
                        <td>{{Hformation.Formation.prgramme}}</td>
                        <td>{{Hformation.Formation.dateDeb}}</td>
                        <td> {{Hformation.Formation.dateFin}} </td>
                        <td style="text-align:center;"><a href="#" style="padding-right:5px" class="fa fa-eye fa-fw"></a><a style="padding-right:5px" href="#" class="fa fa-close fa-fw"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
    