{% extends 'template.html' %}
{% block title %}
    Gestion du Personnel 
{% endblock title %}

{% block content %}
    <div class="w3-container">
        <h2 style="font-weight: bold; text-align:center; margin-top:20px">GESTION PERSONNEL </h2>
        <div class="w3-third w3-right" style="display: flex;
        flex-direction:column">  
           <div> 
            {% csrf_token %}
              <a href="{% url 'ajoutpersonnel' %}"><button class="buttonSearchPersonnel w3-right addpersonnel" style="width:auto; cursor:pointer;">AJOUTER</button></a><br>
           </div>
            <form style="display: flex;"> 
              <input class="inputPersonne" type="text" id="searchInput" placeholder="Rechercher...">
              <select style="margin-left: 5px;" class="selectFilter" id="filterMatriculeSexe">
                  <option value="all">Tous</option>
                  <option value="matricule">Matricule</option>
                  <option value="sexe">Sexe</option>
              </select>
              <button style="margin-left: 5px;" class="buttonSearchPersonnel" onclick="filterTable()">Rechercher</button>
          
            </form>
        </div>

        <div style="margin-bottom: 20px;">
            <table class="tablePersonnel" id="myTable" style="margin: auto;">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom et Prénom</th>
                        <th>Sexe</th>
                        <th>Hiérarchie</th>
                        <th>Fonction</th>
                        <th>Email </th>
                        <th>Service </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personnel in personnels %}
                        <tr>
                            <td> {{personnel.matricule}} </td>
                            <td> {{personnel.nom}} {{personnel.prenom}} </td>
                            <td>{{personnel.sexe}}</td>
                            <td>{{personnel.hierarchie}}</td>
                            <td> {{personnel.fonction}} </td>
                            <td>{{personnel.email}}</td>
                            <td>{{personnel.service}}</td>
                            <td style="text-align:center;"><a href="#" style=" color:blue" class="fa fa-eye fa-fw"></a><a href="#" style="" class="fa fa-pencil fa-fw"></a><a style="" href="#" class="fa fa-trash fa-fw"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>c
{% endblock %}
    